#header {
    width: 100%;
    padding: 1%;
    background-color: #000000;
}

h1 {
    color: #C25100;
}

#left {
    width: 25%;
    color: #C25100;
    background-color: #000000;
}

#right {
    width: 75%;
    height: 80%;
    float: right;
    background-color: #000000;
}

ol {
  list-style-type: none;
  margin: 5;
  padding: 5;
  color: #C25100;
 }

li{
  float: left;
}

#footer {
    clear: both;
    padding-top: 50px;
    color: #C25100;
}