h1 {
    color: #C25100;
}

.leftnav {

}
.right {
    width: 75%;
    float: right;
}

ol {
  width: 150px;
  color: #C25100;
  }
li{
  float: left;
}

.footer {
    clear: both;
    padding-top: 50px;
    color: #C25100;
}