<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Create, Read, Edit, Delete</title>
  <meta name="description" content="It's a Cruddy app.">
  <meta name="author" content="Peter Wright">
{% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

<h1>This app is for tasks.</h1>

<div class="leftnav">
   <ol>
        <li><a href="/cruddy/">Home</a></li>
        <li><a href="/cruddy/add_task">Add Task</a></li>
        <li><a href="/cruddy/tasks_by_user">View tasks by User</a></li>
    </ol>
</div>
