<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Create, Read, Edit, Delete</title>
  <meta name="description" content="It's a Cruddy app.">
  <meta name="author" content="Peter Wright">
{% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
<div id="header">This is the top</div>
<div id="left">
   <ol>
        <li><a href="/cruddy/">Home</a></li>
        <li><a href="/cruddy/add_task">Add Task</a></li>
        <li><a href="/cruddy/tasks_by_user">Tasks by User</a></li>
        <li><a href="/cruddy/users">Users</a></li>
    </ol>
</div>
<div id="right">


